bin/
etc/
include/
lib/
lib64
share/
pyvenv.cfg
aws_ubuntu.sh

# ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# ignore all files in these directories
/00_introduction/
/01_devops_concepts/
/02_linux_bash_scripting/demos/
/02_linux_bash_scripting/images/
/03_mastering_git/

# individual file types
*.~lock*
*.ods#
*.rpm
*.pptx#

__pycache__


# Demo virtualenvs
08_ansible/demos/ansible_demo
10_docker/demos/venv


# Libreoffice lock files
.~lock*


# Vim backup files
*.swp
